<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" colors="true"
         bootstrap="tests/Application/config/bootstrap.php">
    <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="SetonoSyliusKlaviyoPlugin Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
        <env name="KLAVIYO_LIVE" value="0"/> <!-- Set to true and insert a token below to test live requests to Klaviyo API -->
        <env name="KLAVIYO_PUBLIC_TOKEN" value=""/> <!-- Insert your Klaviyo public token -->
        <env name="KLAVIYO_PRIVATE_TOKEN" value=""/> <!-- Insert your Klaviyo private token -->
    </php>
</phpunit>
